
# keep ignoring build artifacts, but allow Lambda sources
lib/**/*.js
cdk.out
.cdk.staging
node_modules

# allow lambda JS
!lambda/**/*.js
!lambda/*.js

# keep any explicit exceptions you had
!jest.config.js
*.d.ts
